body{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div>input{
    height: 37px;
    width: 57px;
    border-radius: 40%;
    margin: 8px ;
    box-shadow: 0 0 4px white;
}
.display>input{
    height: 70px;
    width: 300px;
    border-radius: 10px;
}
#equal{
    background-color: rgb(5, 228, 5);
}
.firstdiv>input,#divide,#mul,#plus,#min{
    background-color: rgb(252, 94, 94);
}
[value]{
    font-size: 20px;
    font-weight: bold;
}
.main-container{
    height: 370px;
    width: 325px;
    border: 2px solid;
    background-color: black;
    border-radius: 20px;
}